@model GameNight

@{
    var action = ViewContext.RouteData.Values["action"];
}

<div class="col">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">@Model.Organizer.Name</h5>
            <h6 class="card-subtitle mb-2">@Model.DateTime</h6>
            <p class="card-text">
                Adres: @Model.Address <br>
                Maximaal aantal deelnemers: @Model.MaxPlayers <br>
                Potluck:
                @if (Model.IsPotluck) {
                    <i class="bi bi-check-lg"></i>
                } else {
                    <i class="bi bi-x-lg"></i>
                }
                <br>
                Alleen voor volwassenen:
                @if (Model.IsOnlyForAdults) {
                    <i class="bi bi-check-lg"></i>
                } else {
                    <i class="bi bi-x-lg"></i>
                }
            </p>

            @if (Model.Players.Count == 0 && action!.Equals("Organized")) {
                <a asp-action="Update" asp-route-id="@Model.Id" asp-controller="GameNight" class="card-link">Aanpassen</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="GameNight" class="card-link">Verwijderen</a>
            }

            <a asp-action="Details" asp-route-id="@Model.Id" asp-controller="GameNight" class="card-link @(!action!.Equals("Organized") ? "stretched-link" : string.Empty)">Details</a>
        </div>
    </div>
</div>