@model GameNight

@{
    ViewBag.Title = "Details spelavond";
    var veganFood = false;
    var nutFood = false;
    var nonAlcoholicDrinks = false;
}

<h1 class="text-center">Details spelavond</h1>

<ul class="list-group col-12 col-md-6 m-auto">
    <li class="list-group-item flex-fill">Organisator: @ViewBag.Organizer.Name</li>
    <li class="list-group-item flex-fill">Datum en tijd: @Model.DateTime.ToString("yy-MM-dd") @Model.DateTime.ToString("t")</li>

    <li class="list-group-item flex-fill">Adres: @Model.Address</li>
    <li class="list-group-item flex-fill">Aantal inschrijvingen: @Model.Players.Count</li>
    <li class="list-group-item flex-fill">
        Alleen voor volwassenen:
        @if (Model.IsOnlyForAdults) {
            <i class="bi bi-check-lg"></i>
        } else {
            <i class="bi bi-x-lg"></i>
        }
    </li>
</ul>

@if (Model.IsPotluck) {
    <div class="m-auto text-center my-3">
        <h2>Eten & Drinken</h2>

        @if (Model.Drinks.Any(drink => !drink.ContainsAlcohol)) {
            nonAlcoholicDrinks = true;
        }

        @if (Model.Foods.Any()) {
            <ul class="list-group col-10 col-md-6 m-auto">
                @foreach (var food in Model.Foods) {
                    <li class="list-group-item text-start">@food.Name</li>

                    if (food.Allergies.Any(allergy => allergy.Name is AllergyEnum.Vegan)) {
                        veganFood = true;
                    }

                    if (food.Allergies.Any(allergy => allergy.Name is AllergyEnum.Lactose or AllergyEnum.Nuts)) {
                        nutFood = true;
                    }
                }
            </ul>

            <p class="text-start text-md-center">
                Eten aanwezig voor vegetarische mensen: @(veganFood ? Html.Raw("<i class='bi bi-check-lg'></i>") : Html.Raw("<i class='bi bi-x-lg'></i>")) <br>
                Eten aanwezig voor mensen met een noten/lactose allergie: @(nutFood ? Html.Raw("<i class='bi bi-check-lg'></i>") : Html.Raw("<i class='bi bi-x-lg'></i>")) <br>
                Drinken aanwezig voor mensen die geen alcohol willen drinken: @(nonAlcoholicDrinks ? Html.Raw("<i class='bi bi-check-lg'></i>") : Html.Raw("<i class='bi bi-x-lg'></i>"))
            </p>
        } else {
            <p>Er is nog geen eten aanwezig!</p>
        }
        
        <a class="btn btn-primary col-8 col-md-4" asp-controller="Food" asp-action="Index" asp-route-id="@Model.Id">Eten meenemen!</a>
    </div>
}

<div class="my-3">
    <h2 class="text-center">Bordspellen</h2>
    <div class="row justify-content-center">
        @foreach (var game in Model.Games) {
            <partial model="game" name="_Game"/>
        }
    </div>
</div>

<form class="d-flex justify-content-center" asp-action="Details" method="post">
    <button class="btn btn-primary col-8 col-md-4" asp-route-id="@Model.Id">Inschrijven</button>
</form>

<div class="alert alert-danger text-center m-auto col-12 col-md-6 mt-3" role="alert" asp-validation-summary="ModelOnly"></div>